{% extends 'base.html.twig' %}

{% block title %}My Reviews{% endblock %}

{% block body %}

    <div class="container">

        <h1>My Reviews</h1>

        <div class="row">

            {% for review in reviews %}
                {% if (review.author|lower == app.user.username) %}
                    <div class="col-lg-6 col-md-3 col-sm-6 col-xs-12">
                        <p>{{ review.status }}</p>
                        <p>{{ review.author }}</p>
                        <p>{{ review.summary }}</p>
                    </div>
                {% endif %}

            {% else %}
                <tr>
                    <td colspan="8">no Reviews found</td>
                </tr>
            {% endfor %}

        </div>
    </div>




{% endblock %}