{% extends 'base.html.twig' %}

{% block title %}Welcome to Coffee Paradise{% endblock %}

{% block body %}
    <div class="container">

        <h1>Main homepage</h1>

        <p>
            Welcome to the main homepage
        </p>

    </div>
{% endblock %}