{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        access is denied for your request
        <p>
            <a href="{{ url('homepage') }}">Home</a>
        </p>

    </div>
{% endblock %}