{% extends 'base.html.twig' %}

{% block title %}Edit Review{% endblock %}

{% block body %}

    <div class="container">

        <h1>Edit Review</h1>

        {% include 'review/_form.html.twig' with {'form': form, 'button_label': 'Edit'} only %}

        <a href="{{ path('coffee_index') }}">back to coffee list</a>

        {% include 'review/_delete_form.html.twig' with {'identifier': review.id} only %}

    </div>

{% endblock %}